@charset "utf-8";
#header{
    width:100%;
    /*height:10rem;*/
    background: #fff;
}
.header{
    width:100%;
    background: #fff;
}
.header_show{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    padding-top: 1rem;
    /*padding-bottom: 1rem;*/
    transition: all 0.5s linear;
}
.header_top,.nav{
    width:80%;
    margin: 0 auto;
    /*border:1px solid red;*/
}
.header_top{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #EDEDED;
}
.search_text,.search_right{
    width:50%;
}
.search_text>p{
    font-size: 2em;
    font-family:"STLiti";
    line-height: 2.2rem;
    text-align: left;
    color: #454545;
}
.search_right>ul{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.search_right>ul>li:nth-child(1){
    width:80%;
}
.search_right>ul>li:nth-child(2){
    width:20%;
}
.search_img1{
    width:50%;
    position: relative;
    opacity: 0;
    transition: all 0.5s linear;
    margin-left:1rem;
}
.search_img1_show{
    margin-right: 1rem;
    opacity: 1;
    transition: all 0.5s linear;
}
input{
    width:100%;
    outline: none;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    line-height: 2.2rem;
    border-radius: 2px;
    font-size: 1em;
}
input::-webkit-placeholder{
    font-size: 1em;
    color: #454545;
}
input:-ms-placeholder{
    font-size: 0.8em;
    color: #454545;
}
input::-moz-placeholder{
    font-size: 0.8em;
    color: #454545;
}
input::placeholder{
    font-size: 0.8em;
    color: #454545;
}
.search_img{
    position: absolute;
    top:0.5px;
    right:0;
    display: inline-block;
    width:2rem;
    line-height: 2.2rem;
    background: #ffffff;
    border-left: 1px solid #DDDDDD;
    text-align: center;
}
.search_img1,.search_img2{
    float: right;
}
.clear{
    content: "";
    clear: both;
}
.search_img2{
    /*position: relative;*/
    margin-top: 1%;
    cursor: pointer;
}
.search_block{
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    display: inline-block;
    /*display:block;*/
}
.search_col{
    /*display:none;*/
}

.search_right>ul>li:nth-child(2){
    text-align: center;
    font-size: 0.8em;
    line-height: 2.2rem;
    cursor: pointer;
}

/***********二级菜单****************/
.search_li{
    position: relative;
}
.submenu{
    width:80%;
    height:0rem;
    position: absolute;
    top:3rem;
    left:0;
    margin: 0 auto;
    text-align: left;
    transition: all 0.3s linear;
    background: #ffffff;
    z-index: 1;
}
.search_li:hover .submenu{
    height:5rem;
    transition: all 0.3s linear;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
}

.submenu_span{
    height:50%;
    display: none;
    margin-left: 0.5rem;
}
.search_li:hover .submenu_span{
    display: block;
}

.submenu_span>span:last-child{
    margin-left: -0.5rem;
    transition: all 0.5s linear;
}
.submenu_span:hover span:last-child{
    margin-left: 0.2rem;
    transition: all 0.5s linear;
}
.dot{
    display:inline-block;
    width:0.3rem;
    height:0.3rem;
    border-radius: 50%;
    opacity: 0;
    background: red;
    transition: all 0.5s linear;
}
.submenu_span:hover .dot{
    opacity: 1;
    transition: all 0.5s linear;
}


/*************导航栏部分样式*****************/
.nav{
    display:flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.5s linear;
}
.nav_logo{
    width:20%;
    text-align: left;
    line-height: 2rem;
}
.nav_list{
    width:60%;
}
.nav_list>ul{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.nav_list>ul>.nav_li{
    width:20%;
    text-align: center;
    line-height: 2rem;
}
.nav_list>ul>.nav_li>a{
    font-size: 0.9em;
    color:#454545;
    text-decoration: none;
    transition: all 0.3s linear;
}
.nav_list>ul>.nav_li>a:hover{
    color:#F75040;
    transition: all 0.3s linear;
}
.cart{
    width:100%;
}
.cart>span{
    font-size: 0.8em;
    color:#454545;
    cursor: pointer;
}
.cart_img{
    position: relative;
}
.count{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 25%;
    width: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    background: red;
    color: #ffffff;
    text-align: center;
}

/**************导航栏二级菜单********************/
.nav_list>ul>li{
    position: relative;
}
.second_level{
    width:130%;
    position: absolute;
    top:4rem;
    left:0;
    background: #ffffff;
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    transform-origin: center top 0;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
    transition: all 0.5s linear;
    z-index: 10;
}
.nav_list>ul>li:hover .second_level{
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transition: all 0.5s linear;
}

.second_level>li{
    line-height: 2.5rem;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.second_level>li>span{
    font-size: 0.8em;
    transition: all 0.3s linear;
}
.second_level>li>span:hover{
    color:#FD3D2A;
    transition: all 0.3s linear;
}

.second_level>li>span:last-child{
    margin-left: -0.8rem;
    transition: all 0.3s linear;
}
.second_level>li:hover span:last-child{
    margin-left: 0.2rem;
    transition: all 0.3s linear;
}
.second_dot{
    display:inline-block;
    width:0.3rem;
    height:0.3rem;
    border-radius: 50%;
    opacity: 0;
    background: #FD3D2A;
    transition: all 0.3s linear;
}
.second_level>li:hover .second_dot{
    opacity: 1;
    transition: all 0.3s linear;
}

/***********购物车的二级菜单*************/
.cart_all{
    width:10%;
    position: relative;
}
.cart_level {
    width: 190%;
    position: absolute;
    top: 4rem;
    left:-70%;
    background: #ffffff;
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    transform-origin: center top 0;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
    transition: all 0.5s linear;
    z-index: 10;
    text-align: left;
    padding-left: 1rem;
}

.cart_all>.nav_li:hover .cart_level{
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transition: all 0.5s linear;
}
.cart_hua{
    display:inline-block;
    width:50px;
    height:50px;
}
.cart_hua>img{
    width:100%;
}
.level_li{
    line-height:4rem !important;
}
.level_span{
    font-size: 0.9em;
    margin-left: 0.5rem !important;
}
.cart_level>li:hover span{
    color:#FD3D2A;
    cursor: pointer;
    transition: all 0.3s linear;
}
.nav_all{
    width:100%;
    background: #ffffff;
}


/*****手机端显示更多按钮******/
.more_img{
    display:none;
}






/**********************平板端的媒体查询*********************************/
@media screen and (min-width:992px) and (max-width:1199px){
    #header {
        height: 8rem;
    }
    .nav_logo {
        width: 35%;
    }
    .nav_logo>img{
        width:8rem;
    }
    .more_img{
        width:30%;
        display:block;
        text-align: right;
    }
    .cart_all {
        width:20%;
        text-align: center;
        margin-top: -7px;
    }
    .nav {
        width: 80%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .search_img1 {
        width: 80%;
    }
    .search_img {
        top: 0.8px;
    }
    .search_right>ul>li:nth-child(1) {
        width: 70%;
    }
    .search_right>ul>li:nth-child(2) {
        width: 30%;
    }
    .search_img2 {
        margin-top: 2%;
    }
    .submenu {
        width: 100%;
    }

    .nav{
        position: relative;
    }
    .nav_list {
        width: 95%;
        position: absolute;
        top: 4.8rem;
        left: 0;
        background: #ffffff;
        padding-left: 1rem;
        transform: rotateX(90deg);
        transform-origin: center top 0;
        transition: all 0.5s linear;
        z-index: 1000;
        /* display: none; */
    }
    .nav_list_show{
        transform: rotateX(0deg);
        transition: all 0.5s linear;
    }
    .nav_list>ul {
        width: 100%;
        display: block;
        /* justify-content: space-between; */
    }
    .nav_list>ul>.nav_li {
        width: 100%;
        text-align: left;
        line-height: 3rem;
        position: static;
    }

    /*********二级菜单***********/
    .second_level {
        width: 98%;
        position: static;
        top: 0;
        left: 0;
        background: #ffffff;
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-origin: center top 0;
        box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
        transition: all 0.5s linear;
        z-index: 10;
        display: none;
    }


    .cart_level {
        width: 150%;
        left: -30%;
        z-index: 1001;
        top: 3.7rem;
    }
}





/*******************大屏手机端媒体查询********************************/
@media screen and (min-width:768px) and (max-width:991px){
    #header {
        width: 100%;
        height: 13rem;
        background: #fff;
    }
    .nav_logo {
        width: 35%;
    }
    .nav_logo>img{
        width:7rem;
    }
    .more_img{
        width:30%;
        display:block;
        text-align: right;
    }
    .cart_all {
        width:20%;
        text-align: center;
    }
    .nav {
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }



    .nav_list {
        width: 95%;
        position: absolute;
        top: 4.8rem;
        left: 0;
        background: #ffffff;
        padding-left: 1rem;
        transform: rotateX(90deg);
        transform-origin: center top 0;
        transition: all 0.5s linear;
        z-index: 1000;
        /* display: none; */
    }
    .nav_list_show{
        transform: rotateX(0deg);
        transition: all 0.5s linear;
    }
    .nav_list>ul {
        width: 100%;
        display: block;
        /* justify-content: space-between; */
    }
    .nav_list>ul>.nav_li {
        width: 100%;
        text-align: left;
        line-height: 3rem;
        position: static;
    }

    /*********二级菜单***********/
    .second_level {
        width: 98%;
        position: static;
        top: 0;
        left: 0;
        background: #ffffff;
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-origin: center top 0;
        box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
        transition: all 0.5s linear;
        z-index: 10;
        display: none;
    }


    .cart_level {
        width: 150%;
        left: -30%;
        z-index: 1001;
        top: 3.7rem;
    }





    .header_top {
        width:60%;
        display: block;
    }
    .search_text, .search_right {
        width: 100%;
        text-align: center;
    }

    .search_right>ul {
        width: 100%;
        display: block;
    }
    .search_right>ul>li:nth-child(1) {
        width: 100%;
    }
    .search_right>ul>li:nth-child(2) {
        width: 100%;
    }
    .search_img1 {
        width: 100%;
        opacity: 1;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    .search_img {
        top: 0.8px;
    }
    .search_img2 {
        display: none;
    }
    .submenu {
        width: 100%;
    }
    .search_text>p {
        text-align: center;
    }

    .nav{
        position: relative;
    }
    .nav_list {
        width: 95%;
        position: absolute;
        top: 4.8rem;
        left: 0;
        background: #ffffff;
        padding-left: 1rem;
        transform: rotateX(90deg);
        transform-origin: center top 0;
        transition: all 0.5s linear;
        z-index: 20;
        /* display: none; */
    }
    .nav_list_show{
        transform: rotateX(0deg);
        transition: all 0.5s linear;
    }
    .nav_list>ul {
        width: 100%;
        display: block;
        /* justify-content: space-between; */
    }
    .nav_list>ul>.nav_li {
        width: 100%;
        text-align: left;
        line-height: 3rem;
    }
    /*********二级菜单***********/
    .nav_list>ul>li {
        position: static;
    }
    .second_level {
        width: 95%;
        position: static;
        top:0;
        left: 0;
        transition: all 0.5s linear;
    }
    .cart_all {
        position: static;
        width: 25%;
        left: 0;
        z-index: 1001;
        top: 4.8rem;
        margin-top: -7px;
    }
    .cart_level {
        width: 95%;
        left: 0;
        z-index: 1001;
        top: 4.7rem;
    }
}





/**********************小屏幕手机端媒体查询**************************************/
@media screen and (min-width:320px) and (max-width:767px){
    #header {
        width: 100%;
        height: 13rem;
        background: #fff;
    }
    .nav_logo {
        width: 35%;
    }
    .nav_logo>img{
        width:6rem;
    }
    .more_img{
        width:20%;
        display:block;
        text-align: right;
    }
    .header_top, .nav {
        width: 90%;
    }
    .header_top {
        display: block;
    }
    .search_text, .search_right {
        width: 100%;
        text-align: center;
    }

    .search_right>ul {
        width: 100%;
        display: block;
    }
    .search_right>ul>li:nth-child(1) {
        width: 100%;
    }
    .search_right>ul>li:nth-child(2) {
        width: 100%;
    }
    .search_img1 {
        width: 100%;
        opacity: 1;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    .search_img {
        top: 0.8px;
    }
    .search_img2 {
        display: none;
    }
    .submenu {
        width: 100%;
    }
    .search_text>p {
        text-align: center;
    }



    .nav{
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .nav_list {
        width: 95%;
        position: absolute;
        top: 4.8rem;
        left: 0;
        background: #ffffff;
        padding-left: 1rem;
        transform: rotateX(90deg);
        transform-origin: center top 0;
        transition: all 0.5s linear;
        z-index: 1000;
        /* display: none; */
    }
    .nav_list_show{
        transform: rotateX(0deg);
        transition: all 0.5s linear;
    }
    .nav_list>ul {
        width: 100%;
        display: block;
        /* justify-content: space-between; */
    }
    .nav_list>ul>.nav_li {
        width: 100%;
        text-align: left;
        line-height: 3rem;
        position: static;
    }

    /*********二级菜单***********/
    .second_level {
        width: 98%;
        position: static;
        top: 0;
        left: 0;
        background: #ffffff;
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-origin: center top 0;
        box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
        transition: all 0.5s linear;
        z-index: 10;
        display: none;
    }
    .cart_level {
        width: 95%;
        left: 0;
        z-index: 1001;
        top: 4.2rem;
    }
    .cart_all {
        width: 30%;
        position: static;
        margin-top: -7px;
    }

}