@charset "utf-8";
.single{
    width:100%;
}
.location{
    width:100%;
    background: #F8F9F9;
}
.location_list{
    width:80%;
    margin: 0 auto;
    text-align: left;
    line-height: 4rem;
}
.location_one{
    font-size: 0.8em;
    font-weight: 700;
    color:#242424;
    cursor: pointer;
}
.location_two{
    font-size: 0.8em;
    font-weight: 700;
    color:#FF3D2A;
}

/*********************单个产品详情部分****************************/
/*******左边样式*******/
.single_all{
    width:100%;
    margin-top: 2rem;
}
.single_list{
    width:70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.single_right{
    width:50%;
}
.single_left{
    width:45%;
}
.single_left_top,.single_left_bottom{
    width:100%;
}
.single_left_bottom{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.single_left_top{
    position: relative;
    /*overflow: hidden;*/
    cursor: move;
}
.top_middle{
    width:100%;
}
.top_middle>img{
    width:100%;
}
.top_big{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:102%;
    overflow: hidden;
    z-index: 10;
    border:1px solid #F4F5F7;
    background:#F4F5F7 url("../img/lg/1.jpg") no-repeat;
    display: none;
}
.jiantou{
    width:2rem;
    height:2rem;
    margin-top: 8%;
    text-align: center;
}
/*******小遮罩层********/
.mask{
    width:100px;
    height:100px;
    background: rgba(234,202,67,0.3);
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    display:none;
}


.single_left_bottom>span{
    display:inline-block;
    width:5%;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
}
/*.jiantou{*/
    /*margin-top: -2rem;*/
/*}*/
.img_list{
    width:87%;
    height: 8.5rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    /*border:1px solid #000000;*/
}
.img_list>ul{
    width:200%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:0;
    /*border:1px solid #1743B9;*/
}
.disable{
    opacity: 0;
}
.img_list>ul>li{
    width:12.5%;
    cursor: pointer;
}

.li_img{
    width:90%;
    margin: 0 auto;
}
.li_img>img{
    width:100%;
    border: 1px solid #ffffff;
}
.li_show{
    border: 1px solid #FA6767 !important;
}
/*******右边样式********/
.single_right_top{
    width:100%;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 3rem;
}
.single_right_top>h5{
    font-size: 1em;
    color:#242424;
}
.single_price{
    width:100%;
    margin-top: 2rem;
}
.single_price>span{
    margin-right: 1rem;
}
.single_price>span:first-child{
    font-size: 1.5em;
    color: #242424;
    font-weight: bold;
}
.single_price>span:last-child{
    font-size: 1.5em;
    color: #FF3D2A;
    font-weight: bold;
}
.original{
    font-size: 0.8em;
    color: #242424;
}
.single_right_top>p{
    font-size: 0.8em;
    color: #242424;
    line-height: 1.5rem;
    padding-top: 1rem;
}
.single_right_top>p>span{
    font-size: 0.8em;
    color: #FF3D2A;
    font-weight: bold;
}
.single_right_bottom{
    width:100%;
}
.bottom_li{
    width:100%;
    margin-top: 2rem;
    cursor: pointer;
}
.bottom_li>p{
    font-size: 0.9em;
    color:#828282;
    font-weight: bold;
}
.bottom_li>span{
    margin-left: 1rem;
    font-size: 0.9em;
    color:#828282;
    font-weight: bold;
    margin-top: 0.5rem;
}
.active1{
    color:#050035 !important;
}
.active2{
    border:1px solid #828282;
}
.span_one,.span_two,.span_three{
    display: inline-block;
    width:1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.span_one{
    background: #FFFF00;
}
.span_two{
    background: #FF00FF;
}
.span_three{
    background: #808080;
}
.amount{
    width:100%;
    margin-top: 2rem;
}
.amount_input>input{
    width: 3rem;
    text-align: center;
    margin-left: 1rem;
}
.amount_input{
    display: inline-block;
    width:30%;
}
.amount_btn{
    display: inline-block;
    width:30%;
}
.amount_btn>button{
    width:8rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 2px;
    background: #E04B34;
    border: none;
    font-size: 0.8em;
    color:#ffffff;
    margin-top: 1rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.amount_btn>button:hover{
    background:#242424;
    transition: all 0.3s linear;
}

/****************************选项卡部分样式*********************************/
.tab_control{
    width:100%;
}
.tab_title,.tab_list{
    width:70%;
    margin: 0 auto;
}
.tab_list{
    margin-bottom: 4rem;
}
.tab_title{
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.tab_title>ul{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #EBEBEB;
}
.tab_title>ul>li{
    width:10%;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color:#242424;
    transition: all 0.3s linear;
}

.span_show{
    color:#FF3D2A !important;
    transition: all 0.3s linear;
}
.tab_item{
    width:100%;
    display:none;
}
.tab_item_show{
    display:block;
}
.tab_item>p{
    font-size: 0.8em;
    line-height: 1.5rem;
    margin-top: 2rem;
}
.reviews{
    width:96%;
    padding:2% 2%;
    border:1px solid #ECECEC;
}
.reviews>h5{
    font-size: 1.1em;
    color:#242424;
}
.reviews>span{
    display: inline-block;
    font-size: 0.8em;
    color: #242424;
    margin-top: 1rem;
}
.reviews>span:nth-child(3){
    margin-left: 40rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.reviews>span:nth-child(3):hover{
    color:#FF3D2A;
    transition: all 0.3s linear;
}
.form1{
    width:100%;
    margin-top: 1rem;
    display:none;
}
.form1_show{
    display:block;
}
.form1>textarea{
    max-width:100%;
    min-width: 100%;
    padding-left: 0.5rem;
}
.form1>button{
    width:5rem;
    line-height: 2rem;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 0.8rem;
    color:#242424;
    transition: all 0.5s linear;
}
.form1>button:hover{
    color:#ffffff;
    background: #FF3D2A;
    transition: all 0.5s linear;
}
.tab_h5{
    font-size: 1.2em;
    color:#242424;
}
.p_one{
    width:100%;
    margin-top: 3rem;
}
.p_one>p{
    font-size: 0.8em;
    color: #242424;
    margin-top: 1rem;
}






/**********************平板端的媒体查询*********************************/
@media screen and (min-width:992px) and (max-width:1199px){
    .single_list {
        width: 80%;
    }
    .single_right_top {
        padding-bottom: 1rem;
    }
    .tab_title, .tab_list {
        width: 80%;
    }
    .tab_title>ul>li {
        width: 12%;
    }
    .img_list {
        height: 6.5rem;
    }
}





/*******************大屏手机端媒体查询********************************/
@media screen and (min-width:768px) and (max-width:991px){
    .single_list {
        width: 90%;
    }
    .single_left_bottom>span {
        width: 8%;
    }
    .img_list {
        width: 80%;
        height: 5.5rem;
    }
    .single_price {
        margin-top: 1rem;
    }
    .single_right_top {
        padding-bottom: 1rem;
    }
    .bottom_li {
        margin-top: 1rem;
    }
    .amount_input {
        width: 40%;
    }
    .amount {
        margin-top: 1rem;
    }
    .tab_title, .tab_list {
        width: 90%;
    }
    .tab_title>ul>li {
        width: 14%;
    }
    .reviews>span:nth-child(3) {
        margin-left: 30rem;
    }
}





/**********************小屏幕手机端媒体查询**************************************/
@media screen and (min-width:320px) and (max-width:767px){
    .single_list {
        width: 80%;
       flex-wrap: wrap;
    }
    .single_left {
        width: 100%;
    }
    .single_right {
        width: 100%;
    }
    .img_list {
        width: 86%;
        height: 8.5rem;
    }
    .single_right_top {
        margin-top: 3rem;
    }
    .single_price {
        margin-top: 1rem;
    }
    .single_price>span:first-child {
        font-size: 1.2em;
    }
    .single_price>span:last-child {
        font-size: 1.2em;
    }
    .single_right_top {
        padding-bottom: 1rem;
    }
    .amount_input {
        width: 50%;
    }
    .tab_title {
        margin-top: 2rem;
        padding-bottom: 0rem;
    }
    .tab_title, .tab_list {
        width: 80%;
    }
    .tab_title>ul>li {
        width: 25%;
        font-size: 0.8em;
    }
    .reviews>span:nth-child(3) {
        margin-left: 3rem;
    }
    .form1>textarea {
        max-width: 96%;
        min-width: 96%;
    }
    .tab_item_show {
        margin-top: 2rem;
    }
    .jiantou {
        margin-top: 6%;
    }
}























